
:root {
 

  /* font sizes */
  --font-size-29xl: 48px;
  --font-size-13xl: 32px;
  --font-size-5xl: 24px;
  --font-size-21xl: 40px;
  --font-size-xl: 20px;
  --font-size-mini: 15px;
  --font-size-base: 16px;
  --font-size-45xl: 64px;

  /* Colors */
  --color-darkslateblue-200: #1e2465;
  --color-darkslateblue-100: #1c2260;
  --color-white: #fff;
  --color-gray: rgba(0, 0, 0, 0.2);

  /* Gaps */
  --gap-xl: 20px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-9xs: 4px;

  /* Border radiuses */
  --br-21xl: 40px;
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-281xl: 300px;
  --br-29xl: 48px;
}


.Icon1 {
  position: absolute;
  top: 30%;
  left: 0;
  width: 45%;
  height: 50%;
 
}

.desktop-background {
  background-color: var(--color-white);
  width: 100%;
  height: 620px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  border-radius: var(--br-21xl);
  color: var(--color-darkslateblue-100);
  
}

.desktop-form {
  position: absolute;
  background-color: var(--color-darkslateblue-100);
  width: 64%;
  height: 85%;
  overflow: hidden;
  border: 2px solid var(--color-darkslateblue-100);
  margin-left: 20%;
  margin-top: 3%;
  border-radius: var(--br-21xl);
}

.form-white {
  position: absolute;
  left: 42%;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  background-color: var(--color-white);
  width: 68%;
  height: 100%;
  overflow: hidden;
}

.Login_heading {
  position: absolute;
  margin-top: 15%;
  margin-left: -35%;
  font-weight: 700;
  display: inline-block;
  width: 58%;
  height: 9%;  
}

.Next-level-e-learning_Heading {
  position: absolute;
  margin-left: -60%;
  font-weight: 800;
  display: inline-block;
  width:110%;
}

.Email_input_box {
  position: absolute;
  margin-top: 29%;
  margin-left: 7%;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  width: 73%;
  height: 9%;
  overflow: hidden;
  border: 3px solid rgb(17, 1, 61);
}

.Password_input_box {
  position: absolute;
  margin-top: 47%;
  margin-left: 7%;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  width: 73%;
  height: 9%;
  overflow: hidden;
  border: 3px solid rgb(17, 1, 61);
}

.Email_login {
  position: absolute;
  margin-top:22%;
  margin-left: -46%;
  width: 29%;
  height: 5%;
  display: inline-block;
  color:rgb(17, 1, 61);
  font-size:60%;
  font-weight: 600;
}

.Password {
  position: absolute;
  display: inline-block;
  margin-top: 40%;
  margin-left: -44%;
  width: 29%;
  height: 5%;
  font-size:60%;
  font-weight: 600;
  color:rgb(17, 1, 61);
}

.check-box {
  position: absolute;
  margin-top: 65%;
  margin-left:28%;
  border: 2px solid var(--color-darkslateblue-200);
  box-sizing: border-box;
  width: 05%;
  height: 5%;
}

.remember-me {
  position: absolute;
  margin-top: 65%;
  margin-left:-48%;
  width: 31%;
  height: 2%;
  color:rgb(17, 1, 61);
  font-size: var(--font-size-mini);
  display: inline-block;
}

.forget-pass-word {
  position: absolute;
  margin-top: 60%;
  margin-left:-44%;
  font-size: var(--font-size-mini);
  display: inline-block;
  width: 39%;
  height: 2%;
  color:rgb(17, 1, 61);
}

.login_btn {
  position: relative;
  font-size: 70%;
  font-weight: 900;
  border: none;
  padding: 0%;
  background-color: #1c2260;
  border-radius: var(--br-xl);
  height: 100%;
  width: 100%;
 }

.login_btn:hover   {
  background-color: #dde1e6;
  color: rgb(17, 1, 61); 
}

.login_btn-wrapper {
  position: absolute;
  transform: translateY(950%); /* Adjust the translateY value to move the button higher */
  left: calc(47% - 112px);
  border-radius: var(--br-xl);
  background-color: var(--color-darkslateblue-100);
  width: 35%;
  height: 46px;
  
  overflow: hidden;
 
}

.login_btn-wrapper:hover {
  background-color: #dde1e6;
  color: rgb(17, 1, 61);
}

.Improve-your-self-container {
  position: absolute;
  margin-left:-48%;
  font-weight: 900;
  color: var(--color-white);
  display: inline-block;
  width: 40%;
  padding: 5%;
}

.log_link{
  color: rgb(17, 1, 61);
}


/* Responsive styles for smaller screens */
@media only screen and (max-width: 768px) {
  .desktop-form {
    width: 90%;
    margin-left: 0;
    margin-top: 20px;
    height: 100%;
    
  }

  .desktop-background {
    height: auto; /* Adjust height as needed for smaller screens */
    font-size: var(--font-size-smaller);

  }
  .form-white {
    left: 0;
    border-radius: 2%;
    width: 100%;
  }

  .login_btn {
    font-size: 70%; /* Adjust the font size for smaller screens */
  }

  .login_btn-wrapper {
    transform: translateY(0%); /* Reset translateY for smaller screens */
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    width: 40%; /* Adjust the width for smaller screens */
  }

  .Email_input_box,
  .Password_input_box {
    width: 85%; /* Adjust the width for smaller screens */
    margin-left: 5%; /* Adjust the left margin for smaller screens */
    
  }

  .Email_login,
  .Password {
    width: 90%; /* Adjust the width for smaller screens */
    margin-left: 5; /* Reset the left margin for smaller screens */
    font-size: medium;
  }


  .Improve-your-self-container {
  display: none;
  }
  
  .check-box {
    width: 10%; /* Adjust the width for smaller screens */
    margin-left: 60%; /* Adjust the left margin for smaller screens */
  }
  .forget-pass-word {
    width: 100%; /* Adjust the width for smaller screens */
    margin-left: -55%; /* Reset the left margin for smaller screens */
  }

  .remember-me
   {
    width: 100%; /* Adjust the width for smaller screens */
    margin-left: -65%; /* Reset the left margin for smaller screens */
  }
  .Icon1 {
    display: none;
  }
  

  
}