.rectangle-div1 {
    position: absolute;
    width: calc(100% + 269.3px);
    top: 69px;
    right: -147.3px;
    left: -122px;
    background: linear-gradient(135deg, #1c2260, #123597);
    height: 71.7px;
  }
  .frame-child4,
  .frame-child5,
  .frame-child6,
  .frame-child7 {
    position: absolute;
    top: 419.6px;
    left: 150.7px;
    border-radius: 7.49px;
    background-color: var(--color-white);
    border: 3.7px solid var(--color-gray);
    box-sizing: border-box;
    width: 386.8px;
    height: 77.9px;
    overflow: hidden; 
    border: 3.7px solid var(--color-darkslateblue-100);
  }
  .frame-child5,
  .frame-child6,
  .frame-child7 {
    top: 564.2px;
    left: 150.5px;
    width: 396.2px;
    height: 159.6px;
    border: 3.7px solid var(--color-darkslateblue-100);
  }
  .frame-child6,
  .frame-child7 {
    top: 197.1px;
    left: 150.7px;
    width: 392.4px;
    height: 40.4px;
   
  }
  .frame-child7 {
    top: 308.8px;
  }
  .description-of-your,
  .your-question {
    position: absolute;
    top: 380.1px;
    left: 110px;
    display: inline-block;
    width: 239.7px;
    height: 24.7px;
   
  
  }
  .description-of-your {
    top: 522.9px;
    left: 130.1px;
    width: 338px;
    height: 24.4px;
  }
  .question-number,
  .select-your-question,
  .tittle-of-your {
    position: absolute;
    top: 152px;
    left: 147px;
    display: inline-block;
    width: 239.7px;
    height: 24.7px;
  }
  .question-number,
  .select-your-question {
    top: 263.7px;
    left: 132.1px;
  }
  .select-your-question {
    top: 152.1px;
    left: 897.6px;
  }
  .submit {
    position: relative;
    font-weight: 800;
    display: inline-block;
    width: 230.7px;
    height: 45.7px;
    flex-shrink: 0;
  }
  .submit-wrapper {
    position: absolute;
    top: 701px;
    left: calc(50% + 13px);
    border-radius: 14.98px;
    background-color: var(--color-darkslateblue-100);
    width: 233.7px;
    height: 48.7px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 7.4915924072265625px 7.4915924072265625px 7.4915924072265625px
      2.9966368675231934px;
    box-sizing: border-box;
    font-size: 29.97px;
    color: var(--color-white);
  }
  .type {
    margin: 0;
  }
  .select8 {
    position: relative;
    display: inline-block;
    width: 101.1px;
    height: 57.7px;
    flex-shrink: 0;
    z-index: 0;
  }
  .frame-child8 {
    position: absolute;
    margin: 0 !important;
    top: 27.2px;
    left: 121.8px;
    width: 13.2px;
    height: 14.3px;
    z-index: 1;
  }
  .select-parent1 {
    position: absolute;
    height: 10.39%;
    width: 10%;
    margin-top: 200px;
    margin-left: 750px;
    top: 0;
    right: 0;
    bottom: 77.61%;
    left: 195PX;
    border-radius: 18.73px;
    border: 3.7px solid var(--color-darkslateblue-100);
    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 7.4915924072265625px;
    gap: 7.49px;
  }
  
  .dropdown{
    border-style: hidden;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 17.98px;
    color: var(--color-darkslateblue-100);
   
  }
  
  .select-option{
    
    overflow: hidden;
    text-align: center;
  
    color: var(--color-darkslateblue-100);
    width: 239.7px;
    height: 24.7px;
   
  }
  .mcq9 {
    margin: 0;
    color: var(--color-darkslateblue-100);
  }
  .mcq8 {
    position: relative;
    display: inline-block;
    width: 101.1px;
    height: 57.7px;
    flex-shrink: 0;
  }
  .mcq-wrapper2 {
    color: var(--color-black);
  }
  .mca-wrapper2,
  .mcq-wrapper2 {
    border-radius: 18.73px;
    width: 173.1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 7.4915924072265625px;
    box-sizing: border-box;
  }
  .span2 {
    color: var(--color-white);
  }
  .scenario-based4 {
    position: relative;
    display: inline-block;
    width: 155.8px;
    height: 57.7px;
    flex-shrink: 0;
  }
  .scenario-based-wrapper1 {
    border-radius: 18.73px;
    width: 173.1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 7.4915924072265625px;
    box-sizing: border-box;
    font-size: 18.81px;
   
  }
  .frame-parent3 {
    position: absolute;
    height: 67.17%;
    width: 100%;
    top: 32.87%;
    right: 0;
    bottom: -0.04%;
    left: 0;
    border-radius: 26.22px;
    border: 3.7px solid var(--color-darkslateblue-100);
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .drop-down-selecrtion1,
  .question-site {
    position: absolute;
    top: 197.2px;
    left: 732.4px;
    width: 173.1px;
    height: 257.7px;
  }
  .question-site {
    top: 80.5px;
    left: 550.9px;
    font-size: 29.97px;
    font-weight: 800;
    color: var(--color-white);
    display: inline-block;
    width: 387.8px;
    height: 72.3px;
  }
  .navbar-parent1 {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 776.5px;
    overflow: hidden;
    text-align: center;
    font-size: 17.98px;
    color: var(--color-darkslateblue-100);
   
  }
  

  